<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<title>NPR Scraper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	</head>
	<body>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">NPR Scraping</h1>
				<p class="lead">Sooooo...the app <i>kind of</i> works....you'll have to click `Scrape Articles` twice to reload new articles. The console may be helpful to see some of the functionality. Didn't quite get the notes portion to work. You can also click on the different articles to view additional functionality.
                <button type="button" class="btn btn-info scrape_articles">Scrape Articles</button>
                <button type="button" class="btn btn-danger clear_articles">Clear Scraped Articles</button>
			</div>
		</div>

		<div class="jumbotron jumbotron-fluid">
			<div class="container">
			        {{{ body }}}
			</div>
		</div>
		
        <script src="../../public/assets/javascript/app.js"></script>
	</body>

</html>
