<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<title>NPR Scraper</title>
	</head>
	<body>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">NPR Scraping</h1>
				<p class="lead">I'm really freaking excited to be done with homework.</p>
                <button type="button" class="btn btn-info scrape_articles">Scrape Articles</button>
			</div>
		</div>

		<div class="jumbotron jumbotron-fluid">
			<div class="container">
			        {{{ body }}}
			</div>
		</div>
		
        <script src="../../public/assets/javascript/app.js"></script>
	</body>

</html>
